# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.obj
*.lib
*.log
*.tlog
*.idb

*.vcxproj.user
*.vcxproj.filters
*.opensdf
*.sdf
*.suo

*doxygen.css
*doxygen_conf
*gen_docs.bat
*gen_result.txt
*.chm

*.lastbuildstate
*.manifest
*.manifest.res
*.rc
*.unsuccessfulbuild
*.ipch

*.exe
*.ilk
*.pdb

